{% extends "@app_frontend_template_directory/themes/default/layout.html.twig" %}
{% block title %} {{ "news_section_title" | trans({}, 'home-page', app.session.get('_locale')) }} {% endblock %}

{% block content %}
    <!-- News Section -->
    <section class="news-section" data-ng-controller="newsCtrller" data-ng-cloak>
        <h3 class="title main-title wow fadeInUpBig" style="margin-top:20px;">
            {{ "news_section_title" | trans({}, 'home-page', app.session.get('_locale')) }}
            <p class="title-separator"></p>
        </h3>

        <div class="container">
            <div class="row news-summary wow fadeInUpBig" style="margin-left:0px;margin-right:0px;">

                <div data-ng-if="model.newsCollection.length > 0"
                     data-ng-repeat="new in model.newsCollection"  class="col-xs-12 wow fadeInUpBig" style="margin: 40px 0;">
                    <div data-ng-if="$even" class="generic-post-grid-container summary-first-container">
                        <div class="row generic-post-grid-feature-image-container summary-first">
                            <div class="col-xs-12 col-sm-6 col-md-6" >
                                <img data-ng-if="new.have_featured_image == true && new.featured_image_url != ''"
                                     data-ng-src="[[new.web_filtered_home_summary_image_thumbnail_url]]"
                                     style="max-width:100%;">
                                <div data-ng-if="new.have_featured_image == false || new.featured_image_url == ''" class="generic-post-over"></div>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-5 col-md-offset-1">
                                    <span class="notifier-event-date">
                                        [[new.published_date | date:'dd/MM/yyyy']]
                                    </span>
                                    <span class="notifier-event-text app-text-color">
                                        [[new.title]]</br>
                                        <span class="title-separator" style="float:left;"></span>
                                    </span>

                                    <span class="summary-excerpt">
                                        [[new.excerpt]]
                                    </span>

                                <a class="btn custom-general-button"
                                   href="[[new.url]]">
                                    {{ "btn.read_more_text" | trans({}, 'general', app.session.get('_locale')) }}
                                </a>
                            </div>
                        </div>
                    </div>
                    <div data-ng-if="$odd" class="generic-post-grid-container summary-first-container">
                        <div class="row generic-post-grid-feature-image-container summary-first">
                            <div class="col-xs-12 col-sm-6 col-md-5">
                                    <span class="notifier-event-date">
                                        [[new.published_date | date:'dd/MM/yyyy']]
                                    </span>
                                    <span class="notifier-event-text app-text-color">
                                        [[new.title]]</br>
                                        <span class="title-separator" style="float:left;"></span>
                                    </span>

                                    <span class="summary-excerpt">
                                        [[new.excerpt]]
                                    </span>

                                <a class="btn custom-general-button"
                                   href="[[new.url]]">
                                    {{ "btn.read_more_text" | trans({}, 'general', app.session.get('_locale')) }}
                                </a>
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-6  col-md-push-1" >
                                <img data-ng-if="new.have_featured_image == true && new.featured_image_url != ''"
                                     data-ng-src="[[new.web_filtered_home_summary_image_thumbnail_url]]"
                                     class="post-inverse-img"
                                     style="max-width:100%;">
                                <div data-ng-if="new.have_featured_image == false || new.featured_image_url == ''" class="generic-post-over"></div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="row" style="margin:0">
                <div data-ng-if="model.newsCollection.length < model.total"
                     class="col-xs-12" style="padding: 150px 0px 100px;position:relative;">
                    <!-- Data Loader -->
                    <div data-ng-show="model.loadingData">
                        {% include '@app_backend_template_directory/Shared/data_loader.html.twig' %}
                    </div>

                    <div style="max-width:130px;margin:auto;">
                        <a class="btn custom-general-button"
                           data-ng-click="getNews()">
                            {{ "btn.see_more_text" | trans({}, 'general', app.session.get('_locale')) }}
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>



{% endblock %}
