<!DOCTYPE html>
    <!--[if IE 8]> <html lang="es" class="ie8 no-js" data-ng-app="BncLogin"> <![endif]-->
    <!--[if IE 9]> <html lang="es" class="ie9 no-js" data-ng-app="BncLogin"> <![endif]-->
    <!--[if !IE]><!-->
<html lang="es" class="no-js" data-ng-app="BncLogin">
    <!-- BEGIN HEAD -->
    <head>
        <base href="/">
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta content="" name="description"/>
        <meta content="" name="author"/>

        <title>BNC | Iniciar sesión </title>

        <!-- Base css global mandatory styles -->
        <link href="{{ asset('css/backend/fonts/font-awesome/font-awesome.min.css') }}{{ assets_css_base_scripts_version }}" rel="stylesheet">
        <link href="{{ asset('css/backend/fonts/simple-line-icons/simple-line-icons.min.css') }}{{ assets_css_base_scripts_version }}" rel="stylesheet">
        <link href="{{ asset('css/shared/bootstrap/bootstrap.min.css') }}{{ assets_css_base_scripts_version }}" rel="stylesheet">
        <link href="{{ asset('css/backend/plugins/uniform/uniform.default.min.css') }}{{ assets_css_base_scripts_version }}" rel="stylesheet">

        <!-- Plugins css theme styles -->
        <link href="{{ asset('css/backend/plugins/select2/select2.css') }}{{ assets_css_plugins_scripts_version }}" rel="stylesheet">
        <link href="{{ asset('css/backend/theme/components.css') }}{{ assets_css_plugins_scripts_version }}" rel="stylesheet">
        <link href="{{ asset('css/backend/theme/animations.css') }}{{ assets_css_plugins_scripts_version }}" rel="stylesheet">
        <link href="{{ asset('css/backend/theme/login.css') }}{{ assets_css_plugins_scripts_version }}" rel="stylesheet">


        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <!-- END HEAD -->
    <!-- BEGIN BODY -->
    <body class="login">
        <div class="logo" style="margin-top:20px !important;"></div>

        <div class="content">
            <!-- Begin Login Form -->
            <form class="login-form" action="{{ path('login') }}" method="post">
                <!-- Begin Logo -->
                <div style=" padding-left: 65px;margin-bottom: 50px;">
                    <a href="{{ path('frontend_index') }}">
                        <img src="{{ asset('images/shared/bnc-secundary-logo.png') }}" alt="Logo del BNC" width="138" height="60">
                    </a>
                </div>

                <h3 class="form-title">Iniciar sesión</h3>
                {% if error %}
                    <div class="alert alert-danger alert-dismissable">
                        <button class="close" aria-hidden="true"  data-dismiss="alert" type="button"></button>
                        <span>Credenciales inválidas.</span>
                    </div>
                {% endif %}

                <div class="form-group">
                    <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
                    <label class="control-label visible-ie8 visible-ie9">Nombre de usuario</label>
                    <div class="input-icon">
                        <i class="icon-user"></i>
                        <input class="form-control placeholder-no-fix login-input" type="text" placeholder="Nombre de usuario" id="username"  name="_username" value="{{ last_username is defined ? last_username }}"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label visible-ie8 visible-ie9">Password</label>
                    <div class="input-icon">
                        <i class="icon-lock"></i>
                        <input class="form-control placeholder-no-fix login-input" type="password" placeholder="Password" id="password" name="_password"/>
                    </div>
                </div>

                <!-- Begin hidden field (for protect the login form against CSRF attacks)-->
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                <!-- End hidden field -->

                <button type="submit" class="btn blue" style="width:100%;margin-bottom: 20px">
                    Entrar
                    <i class="m-icon-white icon-login"></i>
                </button>
                <div class="forget-password">
                    <h4>¿Desea salir de esta pantalla?</h4>
                    <p>
                        Solo haga click <a href="{{ path('frontend_index') }}">aquí </a>
                        para ir a la portada.
                    </p>
                </div>
            </form>
        </div>

        <!-- Window Loader -->
        {% include '@app_backend_template_directory/Shared/window_loader.html.twig' %}


    <!-- Base js global mandatory scripts -->
    <!--[if lt IE 9]>
    <script src="{{ asset('js/backend/plugins/respond.min.js')}}{{ assets_js_base_scripts_version }}"></script>
    <script src="{{ asset('js/backend/plugins/excanvas.min.js') }}{{ assets_js_base_scripts_version }}"></script>
    <![endif]-->
    <script src="{{ asset('js/shared/jquery/jquery.min.js')}}{{ assets_js_base_scripts_version }}"></script>
    <script src="{{ asset('js/shared/jquery/jquery-migrate.min.js')}}{{ assets_js_base_scripts_version }}"></script>
    <script src="{{ asset('js/shared/bootstrap/bootstrap.min.js')}}{{ assets_js_base_scripts_version }}"></script>
    <script src="{{ asset('js/backend/plugins/jquery-slimscroll/jquery.slimscroll.min.js')}}{{ assets_js_base_scripts_version }}"></script>
    <script src="{{ asset('js/backend/plugins/uniform/jquery.uniform.min.js')}}{{ assets_js_base_scripts_version }}"></script>
    <script src="{{ asset('js/backend/plugins/backstrecht/jquery.backstretch.min.js')}}{{ assets_js_base_scripts_version }}"></script>

    <!-- Custom js and Plugins js theme scripts -->

    <!-- Angular base scripts -->
    <script src="{{ asset('js/shared/angularjs/angular.min.js') }}{{ assets_js_base_angular_scripts_version }}" type="text/javascript"></script>
    <script src="{{ asset('js/shared/angularjs/angular-animate.min.js') }}{{ assets_js_base_angular_scripts_version }}" type="text/javascript"></script>
    <script src="{{ asset('js/shared/angularjs/angular-touch.min.js') }}{{ assets_js_base_angular_scripts_version }}" type="text/javascript"></script>
    <script src="{{ asset('js/shared/angularjs/ui-bootstrap.min.js') }}{{ assets_js_base_angular_scripts_version }}"></script>
    <script src="{{ asset('js/shared/angularjs/sugar.min.js') }}{{ assets_js_base_angular_scripts_version }}"></script>

    <!-- Angular App scripts -->
    <script src="{{ asset('js/backend/angularjsApp/LoginApplication.js') }}{{ assets_js_app_angular_scripts_version }}" type="text/javascript"></script>

    </body>
    <!-- END BODY -->
</html>
