{% extends "base_backend.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    {# Getting User Access Features #}
    {%  set userAccessFeaturesCollection, userFrequentlyAccessFeaturesCollection, userNotFrequentlyAccessFeaturesCollection
    = app.session.get('userAccessFeatures'), app.session.get('userFrequentlyAccessFeatures'),
    app.session.get('userNotFrequentlyAccessFeatures')%}

    <!-- Main Layout -->
    <div class="wrapper min-width-420">
        <!-- Header -->
        <header class="page-header">
            <nav class="navbar mega-menu" role="navigation">
                <div class="container-fluid">
                    <div class="clearfix navbar-fixed-top ">
                        <div class="row">
                            <div class="hidden-xs hidden-sm col-md-4">
                                <!-- Search -->
                                {#{% include "@app_backend_template_directory/Shared/general_search.html.twig" %}#}
                            </div>
                            <div class="col-xs-4 col-md-2">
                                <!-- Logo -->
                                <a id="index" class="page-logo" href="{{ path('frontend_index_'~app.session.get('_locale')) }}">
                                    <img src="{{ asset('images/shared/app-main-logo-blanco.png') }}" alt="Logo" width="150" height="50">
                                </a>
                            </div>
                            <div class="col-xs-8 col-md-6">
                                <!-- Topbar Actions -->
                                <div class="topbar-actions">

                                    <!-- Group Notifications -->
                                    {% if userFrequentlyAccessFeaturesCollection is not empty %}
                                        {% for userAccessFeature in userFrequentlyAccessFeaturesCollection %}
                                            {% if 'comments' in userAccessFeature.tree_slug and
                                            userAccessFeature.actions is not empty %}
                                                {% for action in userAccessFeature.actions %}
                                                    {% if 'read' in action.tree_slug %}
                                                        <comment-notifier></comment-notifier>
                                                    {% endif %}
                                                {% endfor %}
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}

                                    <!-- Actions Shortcuts -->
                                    {% if userFrequentlyAccessFeaturesCollection is not empty %}
                                        <div class="btn-group-red btn-group">
                                            <button type="button" class="btn btn-sm dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                                                <i class="fa fa-plus"></i>
                                            </button>
                                            <ul class="dropdown-menu-v2" role="menu">
                                                {% for userAccessFeature in userFrequentlyAccessFeaturesCollection %}
                                                    {% if 'comments' not in userAccessFeature.tree_slug and
                                                    userAccessFeature.actions is not empty %}
                                                        {% for action in userAccessFeature.actions %}
                                                            {% if 'news' in action.tree_slug and 'create' in action.tree_slug %}
                                                                <li class="active">
                                                                    <a href="{{ path(userAccessFeature.url_index_action)}}crear">
                                                                    <i class="{{ userAccessFeature.icon_class }}"></i> Nueva Noticia</a>
                                                                </li>
                                                            {% elseif 'publications' in action.tree_slug and 'create' in action.tree_slug %}
                                                                <li class="">
                                                                    <a href="{{ path(userAccessFeature.url_index_action)}}crear">
                                                                    <i class="{{ userAccessFeature.icon_class }}"></i> Nueva Publicación</a>
                                                                </li>
                                                            {% elseif 'events' in action.tree_slug and 'create' in action.tree_slug %}
                                                                <li class="">
                                                                    <a href="{{ path(userAccessFeature.url_index_action)}}crear">
                                                                    <i class="{{ userAccessFeature.icon_class }}"></i> Nuevo Evento</a>
                                                                </li>
                                                            {% elseif 'pages' in action.tree_slug and 'create' in action.tree_slug %}
                                                                <li class="">
                                                                    <a href="{{ path(userAccessFeature.url_index_action)}}crear">
                                                                    <i class="{{ userAccessFeature.icon_class }}"></i> Nueva Página</a>
                                                                </li>
                                                            {% endif %}
                                                        {% endfor %}
                                                    {% endif %}
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    {% endif %}

                                    <!-- User Profile -->
                                    <div class="btn-group-img btn-group">
                                        <button type="button" class="btn btn-sm dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                                            <span>Hola, {{ app.user.fullname }}</span>
                                            <img src="{{ asset(app.user.avatar.url) | imagine_filter('logued_user_thumbnail')}}">
                                        </button>
                                        <ul class="dropdown-menu-v2 min-width-200" role="menu">
                                            <li class="">
                                                <a href="{{ path('users_index') }}">
                                                    <i class="icon-user"></i>
                                                    Mi Perfil
                                                </a>
                                            </li>
                                            <li class="divider"></li>
                                            <li>
                                                <a id="trigger_fullscreen">
                                                    <i class="icon-size-fullscreen"></i> Pantalla completa
                                                </a>
                                            </li>
                                            <li>
                                                <a href="{{ path('logout') }}"><i class="icon-logout"></i> Salir</a>
                                            </li>
                                            <li class="divider"></li>
                                            <li>
                                                <a href="{{ path('frontend_index_'~app.session.get('_locale')) }}">
                                                    <i class="icon-directions"></i>
                                                    Ir a la Portada
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>

                                <!-- Main menu button -->
                                <button type="button" class="main-menu-button open-menu" data-toggle="collapse">
                                    Menú
                                    <i class="fa fa-bars"></i>
                                </button>
                            </div>
                            <div class="visible-xs visible-sm col-xs-12">
                                <!-- Search -->
                                {#{% include "@app_backend_template_directory/Shared/general_search.html.twig" %}#}
                            </div>
                        </div>
                    </div>

                    <div class="nav-collapse collapse navbar-collapse navbar-responsive-collapse">
                        <ul class="nav navbar-nav text-uppercase">

                            {# default Feature for everyone (for now) #}
                            {% set dashboard_css_class_open_selected, dashboard_keyword_selected_class = ' ', 'dashboard' %}
                            {% if  dashboard_keyword_selected_class in app.request.requesturi %}
                                {% set dashboard_css_class_open_selected = 'open-selected' %}
                            {% endif %}
                            <li class="dropdown dropdown-fw {{ dashboard_css_class_open_selected }}">
                                <a href="{{ path('dashboard_index') }}">
                                    <i class="icon-home"></i>
                                    Dashboard
                                </a>
                            </li>

                            {# Getting and Showing Frequently User Access Features #}
                            {% set isFrequentlyCurrentFeature = false %}
                            {% if userFrequentlyAccessFeaturesCollection is not empty %}
                                {% for userAccessFeature in userFrequentlyAccessFeaturesCollection %}

                                    {% set css_class_open_selected, css_class_dropdown = ' ', 'more-dropdown' %}
                                    {% if  userAccessFeature.keyword_selected_class in app.request.requesturi %}
                                        {% set css_class_open_selected, isFrequentlyCurrentFeature = 'open-selected',
                                        true %}
                                    {% endif %}

                                    <li class="dropdown {{ css_class_dropdown }} {{ css_class_open_selected }} ">
                                            <a href="{{ path(userAccessFeature.url_index_action) }}">
                                                <i class="{{ userAccessFeature.icon_class }}"></i>
                                                {{ userAccessFeature.functionality_name }}
                                            </a>

                                            {# Getting and Showing Submenu #}
                                            {% if userAccessFeature.actions is not empty %}
                                                {% for action in userAccessFeature.actions %}
                                                    {% if 'create' in action.tree_slug or 'comments' in action.tree_slug %}

                                                        {% set css_action_icon_class, action_name, action_path = 'fa fa-plus', 'Crear', 'crear' %}
                                                        {% if 'comments' in action.tree_slug %}
                                                             {% set css_action_icon_class, action_name, action_path = 'icon-bell', 'Pendientes', 'pendientes' %}
                                                        {% endif %}
                                                        <ul class="dropdown-menu">
                                                            <li>
                                                                <a href="{{ path(userAccessFeature.url_index_action) }}{{ action_path }}">
                                                                    <i class="{{ css_action_icon_class }}"></i>
                                                                    {{ action_name }}
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    {% endif %}
                                                {% endfor %}
                                            {% endif %}
                                        </li>

                                {% endfor %}
                            {% endif %}

                            {# Showing a tab if current Feature is a NOT FREQUENTLY FEATURE #}
                            {% if isFrequentlyCurrentFeature == false and userNotFrequentlyAccessFeaturesCollection is not empty %}
                                {% for userAccessFeature in userNotFrequentlyAccessFeaturesCollection %}
                                    {% if userAccessFeature.keyword_selected_class in app.request.requesturi %}
                                        <li class="dropdown dropdown-fw open-selected"
                                        style="right: 0; position: absolute; margin-right: 14px;">
                                            <a href="{{ path(userAccessFeature.url_index_action) }}">
                                                <i class="{{ userAccessFeature.icon_class }}"></i>
                                                {{ userAccessFeature.functionality_name }}
                                            </a>
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </nav>
        </header>

        <!-- Page content -->
        <div class="container-fluid" style="margin-top: -1px;">
                <!-- Begin Main content -->
                {% block pagecontent %}

                {% endblock %}

                <!-- Begin Main Menu -->
                <div class="page-quick-sidebar-wrapper">
                    <div class="page-quick-sidebar">
                        <div class="row" >
                            <div class="col-xs-12 main-menu-header">
                                <a id="index" class="main-menu-logo" href="{{ path('frontend_index_'~app.session.get('_locale')) }}">
                                    <img src="{{ asset('images/shared/app-main-logo-blanco.png') }}" alt="Logo" width="150" height="50">
                                </a>

                                <a class="page-quick-sidebar-toggler close-menu"><i class="fa fa-times"></i></a>
                            </div>
                        </div>

                        <div class="container-fluid main-menu-options-container">
                            <div class="row" style="margin:0;">
                                <div class="col-xs-12">
                                    <span class="caption-subject bold uppercase used-frequently-feature-header">
                                        Frecuentes
                                    </span>
                                </div>
                                <div class="col-xs-12">
                                    <div class="row">
                                        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3 main-menu-option">
                                            {# default Feature for everyone (for now) #}
                                            {% set dashboard_css_class_selected, dashboard_keyword_selected_class = ' ', 'dashboard' %}
                                            {% if  dashboard_keyword_selected_class in app.request.requesturi %}
                                                {% set dashboard_css_class_selected = 'main-menu-selected' %}
                                            {% endif %}
                                            <a href="{{ path('dashboard_index') }}" class="main-menu-option-header {{ dashboard_css_class_selected }}">
                                                <i class="icon-home" style="margin-right:5px;"></i>
                                                    Dashboard
                                                <i class="fa fa-angle-down" style="margin-left:10px;"></i>
                                            </a>
                                        </div>
                                        {% if userFrequentlyAccessFeaturesCollection is not empty %}
                                            {% for userAccessFeature in userFrequentlyAccessFeaturesCollection %}
                                                {% set css_class_selected, css_action_icon_class, action_name, action_path
                                                = ' ', 'fa fa-plus', 'Crear', 'crear' %}
                                                {% if  userAccessFeature.keyword_selected_class in app.request.requesturi %}
                                                    {% set css_class_selected = 'main-menu-selected' %}
                                                {% endif %}

                                                {% if userAccessFeature.actions is not empty %}
                                                    {% for action in userAccessFeature.actions %}
                                                        {% if userAccessFeature.tree_slug == 'functionality-comments' %}
                                                            {% set css_action_icon_class, action_name, action_path =
                                                            'icon-bell', 'Pendientes', 'pendientes' %}
                                                        {% elseif 'create' in action.tree_slug %}
                                                             {% set css_action_icon_class, action_name, action_path = 'fa fa-plus', 'Crear', 'crear' %}
                                                        {% endif %}
                                                    {% endfor %}
                                                {% endif %}

                                                <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3 main-menu-option">
                                                    <a href="{{ path(userAccessFeature.url_index_action) }}"
                                                    class="main-menu-option-header {{ css_class_selected }}">
                                                        <i class="{{ userAccessFeature.icon_class }}" style="margin-right:5px;"></i>
                                                            {{ userAccessFeature.functionality_name }}
                                                        <i class="fa fa-angle-down" style="margin-left:10px;"></i>
                                                    </a>
                                                    <a href="{{ path(userAccessFeature.url_index_action) }}{{ action_path }}" class="main-menu-option-item">
                                                        <i class="{{ css_action_icon_class }}" style="margin-right:5px;"></i>
                                                        {{ action_name }}
                                                    </a>
                                                </div>
                                            {% endfor %}
                                        {% endif %}
                                    </div>
                                </div>
                            </div>

                            <div class="row" style="margin:0;padding-top:40px;">
                                <div class="col-xs-12">
                                    <span class="caption-subject bold uppercase used-frequently-feature-header">
                                        Más
                                    </span>
                                </div>
                                <div class="col-xs-12">
                                    <div class="row">
                                        {% if userNotFrequentlyAccessFeaturesCollection is not empty %}
                                            {% for userAccessFeature in userNotFrequentlyAccessFeaturesCollection %}
                                                {% set css_class_selected, css_action_icon_class, action_name, action_path
                                                = ' ', 'fa fa-plus', 'Crear', 'crear' %}
                                                {% if  userAccessFeature.keyword_selected_class in app.request.requesturi %}
                                                    {% set css_class_selected = 'main-menu-selected' %}
                                                {% endif %}

                                                {% if userAccessFeature.actions is not empty and userAccessFeature.tree_slug != 'functionality-settings' %}
                                                    {% for action in userAccessFeature.actions %}
                                                        {% if userAccessFeature.tree_slug == 'functionality-comments' %}
                                                            {% set css_action_icon_class, action_name, action_path = 'icon-bell', 'Pendientes', 'pendientes' %}
                                                        {% elseif 'create' in action.tree_slug %}
                                                             {% set css_action_icon_class, action_name, action_path = 'fa fa-plus', 'Crear', 'crear' %}
                                                        {% endif %}
                                                    {% endfor %}
                                                {% endif %}

                                                {% if userAccessFeature.tree_slug != 'functionality-users' %}
                                                <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3 main-menu-option">
                                                    <a href="{{ path(userAccessFeature.url_index_action) }}"
                                                    class="main-menu-option-header {{ css_class_selected }}">
                                                        <i class="{{ userAccessFeature.icon_class }}" style="margin-right:5px;"></i>
                                                            {{ userAccessFeature.functionality_name }}
                                                        <i class="fa fa-angle-down" style="margin-left:10px;"></i>
                                                    </a>
                                                    {% if userAccessFeature.tree_slug != 'functionality-settings' %}
                                                        <a href="{{ path(userAccessFeature.url_index_action) }}{{ action_path }}" class="main-menu-option-item">
                                                            <i class="{{ css_action_icon_class }}" style="margin-right:5px;"></i>
                                                            {{ action_name }}
                                                        </a>
                                                    {% endif %}
                                                </div>
                                                {% endif %}

                                            {% endfor %}
                                        {% endif %}
                                    </div>
                                </div>
                            </div>

                            <div class="row" style="margin:0;padding-top:40px;">
                                <div class="col-xs-12">
                                    <span class="caption-subject bold uppercase used-frequently-feature-header">
                                        Otros
                                    </span>
                                </div>
                                <div class="col-xs-12">
                                    <div class="row">
                                        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3 main-menu-option">
                                            <a href="{{ path('users_index') }}" class="main-menu-option-header ">
                                                <i class="icon-user" style="margin-right:5px;"></i>
                                                    Perfil
                                                <i class="fa fa-angle-down" style="margin-left:10px;"></i>
                                            </a>
                                        </div>
                                        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3 main-menu-option">
                                            <a href="{{ path('logout') }}" class="main-menu-option-header ">
                                                <i class="icon-logout" style="margin-right:5px;"></i>
                                                    Salir
                                                <i class="fa fa-angle-down" style="margin-left:10px;"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!-- Window Loader -->
    {% include '@app_backend_template_directory/Shared/window_loader.html.twig' %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}