{% extends "@app_frontend_template_directory/themes/default/layout.html.twig" %}


{% block content %}
    {% set role = 'IS_AUTHENTICATED_ANONYMOUSLY' %}
    {% if is_granted('ROLE_SALESMAN') %}
        {% set role = 'ROLE_SALESMAN' %}
    {% endif %}
    {% if is_granted('ROLE_ADMIN') %}
        {% set role = 'ROLE_ADMIN' %}
    {% endif %}

    <!-- Banner -->
    <section class="home-slider" >
        <div class="row">
            <div class="col-md-12">
                <!-- BEGIN WIDGET GRADIENT -->
                <div class="clearfix"></div>
                <div id="carousel-example-generic-v1" class="carousel slide widget-carousel rounded-3" data-ride="carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#carousel-example-generic-v1" data-slide-to="0" class="circle active"></li>
                        <li data-target="#carousel-example-generic-v1" data-slide-to="1" class="circle"></li>
                        <li data-target="#carousel-example-generic-v1" data-slide-to="2" class="circle"></li>
                        <li data-target="#carousel-example-generic-v1" data-slide-to="3" class="circle"></li>
                        <li data-target="#carousel-example-generic-v1" data-slide-to="4" class="circle"></li>
                    </ol>

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox">
                        <div class="item active">
                            <div class="widget-gradient widget-gradient-img-v2 rounded-3">
                                <div class="widget-gradient-body">
                                    <img src="{{ asset('images/frontend/themes/default/slider/diapo-1.jpg') }}">
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="widget-gradient widget-gradient-img-v1 rounded-3">
                                <div class="widget-gradient-body">
                                    <img src="{{ asset('images/frontend/themes/default/slider/diapo-2.jpg') }}">
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="widget-gradient widget-gradient-img-v1 rounded-3">
                                <div class="widget-gradient-body">
                                    <img src="{{ asset('images/frontend/themes/default/slider/diapo-3.jpg') }}">
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="widget-gradient widget-gradient-img-v1 rounded-3">
                                <div class="widget-gradient-body">
                                    <img src="{{ asset('images/frontend/themes/default/slider/diapo-4.jpg') }}">
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="widget-gradient widget-gradient-img-v1 rounded-3">
                                <div class="widget-gradient-body">
                                    <img src="{{ asset('images/frontend/themes/default/slider/diapo-5.jpg') }}">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END WIDGET GRADIENT -->
            </div>
        </div>

        {#{% if themeConfigsData.headerConfigs is not empty %}
            {% if themeConfigsData.headerConfigs.welcome_image_url is not empty %}
                <img src="{{ themeConfigsData.headerConfigs.welcome_image_url | imagine_filter('default_theme_banner')}}">
            {% endif %}
            {% if themeConfigsData.headerConfigs.welcome_text is not empty %}

            {% endif %}
        {% endif %}#}
    </section>

    <!-- Program Summary -->
    <section class="home-program-summary">
        <h3 class="title main-title wow fadeInUpBig">
            {{ "schedule_section_title" | trans({}, 'home-page', app.session.get('_locale')) }}</br>
            <p class="title-separator"></p>
        </h3>
        <div class="container wow fadeInUpBig">
            <program home="true" user-role="'{{ role }}'" current-language="'es'"></program>

            <div class="row">
                <div class="col-md-12">
                    <a class="btn custom-general-button app-text-color"
                       href="">
                        {{ "schedule_section_title" | trans({}, 'home-page', app.session.get('_locale')) }}
                    </a>
                </div>
            </div>
        </div>

    </section>


    <!-- News Summary -->
    <section class="home-news-summary bgcolor-odd">
        <h3 class="title main-title wow fadeInUpBig">
            {{ "news_section_title" | trans({}, 'home-page', app.session.get('_locale')) }}
            <p class="title-separator"></p>
        </h3>
        {% if newsSummaryData is not empty%}
            <div class="row news-summary wow fadeInUpBig" style="margin-left:0px;margin-right:0px;">
                {% for key,newObj in newsSummaryData %}
                  {% if key <= 2 %}
                      <div class="col-xs-12 wow fadeInUpBig">
                          <div class="generic-post-grid-container summary-first-container">
                              <div class="generic-post-grid-feature-image-container summary-first">
                        {% if newObj.have_featured_image == true  %}
                            <div class="col-xs-12 col-sm-6 col-md-6" >
                                <img src="{{ newObj.web_filtered_grid_featured_image_thumbnail_url }}">
                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-6">
                                    <span class="notifier-event-date app-text-color">
                                        {{ newObj.published_date }}
                                    </span>
                                <span class="notifier-event-text app-text-color">
                                        {{ newObj.title }}
                                    </span>

                                <a class="btn custom-general-button app-text-color"
                                   href="{{ newObj.url }}">
                                    Leer más
                                </a>
                            </div>
                            </div>
                            </div>
                        {% endif %}
                      </div>
                  {% endif %}
                {% endfor %}
               {# {% if newsSummaryData[0] is not empty%}
                    <div class="col-xs-12 wow fadeInUpBig">
                        <div class="generic-post-grid-container summary-first-container">
                            <div class="generic-post-grid-feature-image-container summary-first">
                                {% if newsSummaryData[0].have_featured_image == true  %}
                                <div class="col-xs-12 col-sm-12 col-md-6" >
                                    <img src="{{ newsSummaryData[0].web_filtered_grid_featured_image_thumbnail_url }}">
                                </div>
                                {% endif %}
                                <div class="col-xs-12 col-sm-12 col-md-6">
                                    <span class="notifier-event-date app-text-color">
                                        {{ newsSummaryData[0].published_date }}
                                    </span>
                                    <span class="notifier-event-text app-text-color">
                                        {{ newsSummaryData[0].title }}
                                    </span>

                                    <a class="btn custom-general-button app-text-color"
                                    href="{{ newsSummaryData[0].url }}">
                                        Leer más
                                    </a>

                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
                {% if newsSummaryData[3] is defined and newsSummaryData[3] is not empty%}
                    <div class="col-xs-12 col-sm-12 col-md-6 wow fadeInUpBig" style="padding-top:70px;">
                        <div class="generic-post-grid-container" >
                            <div class="generic-post-grid-feature-image-container summary-fourth">
                                {% if newsSummaryData[3].have_featured_image == true  %}
                                <div class="col-xs-12 col-sm-12 col-md-6" style="text-align:center;">
                                    <img src="{{ newsSummaryData[3].web_filtered_grid_featured_image_thumbnail_url }}">
                                </div>
                                {% endif  %}
                                <div class="col-xs-12 col-sm-12 col-md-6" style="text-align:center;">
                                    <span class="notifier-event-date">
                                        {{ newsSummaryData[3].published_date}}
                                    </span>
                                    <span class="notifier-event-text ">
                                        {{ newsSummaryData[3].title }}
                                    </span>

                                    <a class="btn custom-general-button"
                                       href="{{ newsSummaryData[3].url }}">
                                        Leer más
                                    </a>

                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
                {% if newsSummaryData[1] is defined and  newsSummaryData[1] is not empty%}
                    <div class="col-xs-12 col-sm-12 col-md-6 wow fadeInUpBig" style="padding-top:70px;padding-bottom:70px;">
                        <div class="generic-post-grid-container">
                            <div class="generic-post-grid-feature-image-container summary-second">
                                {% if newsSummaryData[1].have_featured_image == true  %}
                                <div class="col-xs-12 col-sm-12 col-md-6" style="text-align:center;">
                                    <img src="{{ newsSummaryData[1].web_filtered_grid_featured_image_thumbnail_url }}">
                                </div>
                                {% endif  %}
                                <div class="col-xs-12 col-sm-12 col-md-6" style="text-align:center;">
                                    <span class="notifier-event-date">
                                        {{ newsSummaryData[1].published_date }}
                                    </span>
                                    <span class="notifier-event-text ">
                                        {{ newsSummaryData[1].title }}
                                    </span>

                                    <a class="btn custom-general-button"
                                       href="{{ newsSummaryData[1].url }}">
                                        Leer más
                                    </a>

                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
                {% if newsSummaryData[2] is defined and  newsSummaryData[2] is not empty%}
                    <div class="col-xs-12 wow fadeInUpBig">
                        <div class="generic-post-grid-container">
                            <div class="generic-post-grid-feature-image-container summary-third">
                                {% if newsSummaryData[2].have_featured_image == true  %}
                                <div class="col-xs-12 col-sm-12 col-md-6" style="text-align:center;">
                                    <img src="{{ newsSummaryData[2].web_filtered_grid_featured_image_thumbnail_url }}">
                                </div>
                                {% endif %}
                                <div class="col-xs-12 col-sm-12 col-md-6" style="text-align:center;">
                                    <span class="notifier-event-date">
                                        {{ newsSummaryData[2].published_date}}
                                    </span>
                                    <span class="notifier-event-text ">
                                        {{ newsSummaryData[2].title }}
                                    </span>

                                    <a class="btn custom-general-button"
                                       href="{{ newsSummaryData[2].url }}">
                                        Leer más
                                    </a>

                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}#}
                <div class="col-xs-12" style="padding: 150px 0px 100px;">
                    <div class="generic-post-grid-container" style="max-width:140px;">
                        <a class="btn custom-general-button"
                       href="{{ newsMainPageUrl }}"
                       style="border:2px solid #009dc7;color:#009dc7;">
                            <i class="fa fa-plus"></i>
                            Más Noticias
                        </a>
                    </div>
                </div>
            </div>
            {% endif %}
    </section>

    <!-- Guests & Collateral Program -->
    <section class="home-guest-collateral-program">

    </section>


{% endblock %}