{% extends "@app_frontend_template_directory/themes/default/base.html.twig" %}
{% block template_name %}{% endblock %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <!-- Main Layout -->
    <div class="wrapper max-width-1920 min-width-320 margin-0">
        <!-- Header -->
        <header class="page-header">
            <!-- Begin Header Toolbar -->
            <nav class="navbar mega-menu" role="navigation">
                <div class="container-fluid ">
                    <div class="clearfix navbar-fixed-top ">
                        <div class="row">
                            <div class="col-xs-4 col-md-5" style="margin-top: 10px">
                                <a class="language-selector {{  app.session.get('_locale') == 'es' ? 'language-active' }}"
                                   href="{{ path('frontend_index_es') }}">
                                    ES
                                </a>
                                <a class="language-selector {{  app.session.get('_locale') == 'en' ? 'language-active' }}"
                                   href="{{ path('frontend_index_en') }}">
                                    EN
                                </a>
                                <!-- Search -->
                                {#{% include "@app_backend_template_directory/Shared/general_search.html.twig" %}#}
                            </div>
                        <!-- BEGIN dtavares86 -->
                        {% if app.user and is_granted('IS_AUTHENTICATED_FULLY') %}
                            <div class="col-xs-4 col-sm-3 col-sm-offset-1 col-md-2 col-md-offset-0 image-logo not-padding">
                        {% else %}
                            <div class="col-xs-5 col-sm-3 col-sm-offset-1 col-md-2 col-md-offset-0 image-logo">
                        {% endif %}
                        <!-- END dtavares86 -->
                                <!-- Logo -->
                                <a id="index" class="page-logo" href="{{ path('frontend_index_'~app.session.get('_locale')) }}">
                                    <img src="{{ asset('images/shared/app-main-logo.png') }}" alt="Logo">
                                </a>
                            </div>
                            <!-- BEGIN dtavares86 -->
                            <div class="{% if app.user and is_granted('IS_AUTHENTICATED_FULLY') %} col-xs-4 {% else %} col-xs-3 {% endif %} col-sm-4 col-md-5">
                                {% if app.user and is_granted('IS_AUTHENTICATED_FULLY') %}
                                <!-- Topbar Actions -->
                                <div class="topbar-actions">
                                    <!-- User Profile -->
                                        <div class="btn-group-img btn-group">
                                            <button type="button" class="btn btn-sm dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                                                <span>Hola, {{ app.user.fullname }}</span>
                                                <img src="{{ asset(app.user.avatar.url) | imagine_filter('logued_user_thumbnail')}}">
                                            </button>
                                            <ul class="dropdown-menu-v2 min-width-200" role="menu">
                                                <li class="">
                                                    <a href="{{ path('users_index') }}">
                                                        <i class="icon-user"></i>
                                                        Mi Perfil
                                                    </a>
                                                </li>
                                                <li class="divider"></li>
                                                <li>
                                                    <a id="trigger_fullscreen">
                                                        <i class="icon-size-fullscreen"></i> Pantalla completa
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="{{ path('logout') }}"><i class="icon-logout"></i> Salir</a>
                                                </li>
                                                <li class="divider"></li>
                                                <li>
                                                    <a href="{{ path('dashboard_index') }}">
                                                        <i class="icon-home"></i>
                                                        Ir al Dashboard
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                </div>
                                {% endif %}
                                <!-- END dtavares86 -->

                                <!-- Main menu button -->
                                <button type="button" class="main-menu-button open-menu" data-toggle="collapse">
                                    <span class="hidden-xs">Menú</span>
                                    <i class="fa fa-bars"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
            <!-- Begin Main Menu -->
            <div class="page-quick-sidebar-wrapper">
                <div class="page-quick-sidebar close-menu wow fadeInRight">
                    <div class="row" >
                        <div class="col-xs-12 main-menu-header">
                            <a id="index" class="main-menu-logo" href="{{ path('frontend_index_'~app.session.get('_locale')) }}">
                                <img src="{{ asset('images/shared/app-main-logo-blanco.png') }}" alt="Logo">
                            </a>

                            <a class="page-quick-sidebar-toggler"><i class="fa fa-times"></i></a>
                        </div>
                    </div>

                    <div class="container-fluid main-menu-options-container">
                        {% if  themeConfigsData.menuConfigs is not empty %}
                            <div class="row" style="margin:0;">
                                {% for menuItem in themeConfigsData.menuConfigs %}
                                    {% if loop.index <= 5 %}
                                        <div class="col-xs-12 col-sm-6 col-md-2 main-menu-option">
                                            <a href="{{ menuItem.url }}"
                                               class="main-menu-option-header">
                                                {{ menuItem.name_es }}
                                                <i class="fa fa-angle-down" style="margin-left:10px;"></i>
                                            </a>
                                            {% if menuItem.childs is not empty%}
                                                {% for subItem in menuItem.childs %}
                                                    <a href="{{ subItem.url }}"
                                                       class="main-menu-option-item">
                                                        {{ subItem.name_es }}
                                                    </a>
                                                {% endfor %}
                                            {% endif %}
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                            <div class="row" style="margin:0;">
                                {% for menuItem in themeConfigsData.menuConfigs %}
                                    {% if loop.index > 5 %}
                                        <div class="col-xs-12 col-sm-6 col-md-2 main-menu-option">
                                            <a href="{{ menuItem.url }}"
                                               class="main-menu-option-header">
                                                {{ menuItem.name_es }}
                                                <i class="fa fa-angle-down" style="margin-left:10px;"></i>
                                            </a>
                                            {% if menuItem.childs is not empty%}
                                                {% for subItem in menuItem.childs %}
                                                    <a href="{{ subItem.url }}"
                                                       class="main-menu-option-item">
                                                        {{ subItem.name_es }}
                                                    </a>
                                                {% endfor %}
                                            {% endif %}
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        {% endif %}
                        <div class="row" style="margin:0;">
                            <div class="col-md-12 footer-socials">
                                {% if themeConfigsData.socialsConfigs is not empty %}
                                    <ul class="social-icons" style="padding-left: 45%;padding-top: 40px;">
                                        {% if themeConfigsData.socialsConfigs.facebook_url is not empty %}
                                            <li>
                                                <a href="{{ themeConfigsData.socialsConfigs.facebook_url }}" data-original-title="Facebook" class="facebook">
                                                </a>
                                            </li>
                                        {% endif %}
                                        {% if themeConfigsData.socialsConfigs.twitter_url is not empty %}
                                            <li>
                                                <a href="{{ themeConfigsData.socialsConfigs.twitter_url }}" data-original-title="Twitter" class="twitter">
                                                </a>
                                            </li>
                                        {% endif %}
                                        {% if themeConfigsData.socialsConfigs.youtube_url is not empty %}
                                            <li>
                                                <a href="{{ themeConfigsData.socialsConfigs.youtube_url }}" data-original-title="Youtube" class="youtube">
                                                </a>
                                            </li>
                                        {% endif %}
                                    </ul>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>


        <!-- Content -->
        <div class="container-fluid page-body" style="margin-top: -1px;">
            <div class="page-body-content">
                {% block content %}

                {% endblock %}
            </div>
        </div>

        <!-- Footer -->
        <div class="page-main-footer">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-md-6 wow fadeInLeftBig">
                        <span class="notifier-event-text app-text-color" style="text-align: left !important">
                            Organizadores</br>
                            <span class="title-separator" style="float:left;"></span>
                        </span>

                        <div class="logo-organizators-container">
                            <div id="ministery">
                                <a href="http://www.ministeriodecultura.gob.cu" target="_blank" rel="nofollow"><img src="{{ asset('images/shared/ministerio-cultura-cuba.jpg') }}"></a>
                            </div>
                            <div id="ballet" >
                                <a href="http://balletcuba.cult.cu" target="_blank" rel="nofollow"><img src="{{ asset('images/shared/bnc-logo.png') }}"></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-6 wow fadeInRightBig">
                        <span class="notifier-event-text app-text-color text-left" style="text-align: left !important">
                            Contactos</br>
                            <span class="title-separator" style="float:left;"></span>
                        </span>
                        <div style="display:flex;width: 100%;flex-direction: column;">
                            <span style="font-family: 'Arimo Arial';font-size: 18px;color:rgb(100,100,100);margin-top:20px;">
                                <i class="fa fa-phone " style="font-size: 32px;margin-right: 15px;top: 10px;position: relative;"></i>(53) 7-835-3920
                            </span>
                            <span style="font-family: 'Arimo Arial';font-size: 18px;color:rgb(100,100,100);margin-top:20px;">
                                <i class="fa fa-envelope " style="font-size: 26px;margin-right: 10px;top: 5px;position: relative;"></i>
                                <a style="font-family: 'Arimo Arial';font-size: 18px;color:rgb(100,100,100)" href="mailto:festival@balletcuba.cult.cu">festival@balletcuba.cult.cu</a>
                            </span>
                            <span style="font-family: 'Arimo Arial';font-size: 18px;color:rgb(100,100,100);margin-top:20px;">
                                <i class="fa fa-map-marker " style="font-size: 32px;margin-right: 23px;top: 4px; left: 4px; position: relative;"></i>Calzada #510 % D y E, Vedado, Plaza de la Revolución, CP 10400.
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="page-footer">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-12 col-md-4 footer-socials">
                        {% if themeConfigsData.socialsConfigs is not empty %}
                            <ul class="social-icons">
                                {% if themeConfigsData.socialsConfigs.facebook_url is not empty %}
                                    <li>
                                        <a href="{{ themeConfigsData.socialsConfigs.facebook_url }}" data-original-title="Facebook" class="facebook">
                                        </a>
                                    </li>
                                {% endif %}
                                {% if themeConfigsData.socialsConfigs.twitter_url is not empty %}
                                    <li>
                                        <a href="{{ themeConfigsData.socialsConfigs.twitter_url }}" data-original-title="Twitter" class="twitter">
                                        </a>
                                    </li>
                                {% endif %}
                                {% if themeConfigsData.socialsConfigs.youtube_url is not empty %}
                                    <li>
                                        <a href="{{ themeConfigsData.socialsConfigs.youtube_url }}" data-original-title="Youtube" class="youtube">
                                        </a>
                                    </li>
                                {% endif %}
                            </ul>
                        {% endif %}
                    </div>
                    <div class="col-xs-12 col-md-4 text-center footer-link wow bounceIn">
                        <!-- Logo -->
                        <a id="index" class="footer-logo" href="{{ path('frontend_index_'~app.session.get('_locale')) }}"
                           style="border-right: 2px solid #009dc7;margin-right: 5px;">
                            <img src="{{ asset('images/shared/app-main-logo.png') }}" alt="Logo">
                        </a>
                        <a class="footer-logo jyd-link" id="jyd-link"
                           href="http://www.jydsolutions.com">
                            Sitio desarrollado por
                            <img src="{{ asset('images/frontend/themes/default/dev/logo-jyd.png') }}" alt="JYD">
                        </a>
                    </div>
                    <div class="col-xs-12 col-md-4">
                        <!-- Copyright -->
                        <span class="footer-copyright">Copyright@All Rights Reserved</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="scroll-to-top">
            <i class="icon-arrow-up"></i>
        </div>
    </div>

    <!-- Window Loader -->
    {% include '@app_backend_template_directory/Shared/window_loader.html.twig' %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}