<!DOCTYPE html>
<!--[if IE 8]> <html lang="es" class="ie8 no-js" data-ng-app="BncOfflineScreen"> <![endif]-->
<!--[if IE 9]> <html lang="es" class="ie9 no-js" data-ng-app="BncOfflineScreen"> <![endif]-->
<!--[if !IE]><!-->
<html lang="es" class="no-js" data-ng-app="BncOfflineScreen">
<!-- BEGIN HEAD -->
<head>
    <base href="/">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="" name="description"/>
    <meta content="" name="author"/>

    <title>BNC | No disponible </title>

    <!-- Base css global mandatory styles -->
    <link href="{{ asset('css/backend/fonts/font-awesome/font-awesome.min.css') }}{{ assets_css_base_scripts_version }}" rel="stylesheet">
    <link href="{{ asset('css/backend/fonts/simple-line-icons/simple-line-icons.min.css') }}{{ assets_css_base_scripts_version }}" rel="stylesheet">
    <link href="{{ asset('css/shared/bootstrap/bootstrap.min.css') }}{{ assets_css_base_scripts_version }}" rel="stylesheet">
    <link href="{{ asset('css/backend/plugins/uniform/uniform.default.min.css') }}{{ assets_css_base_scripts_version }}" rel="stylesheet">

    <!-- Plugins css theme styles -->
    <link href="{{ asset('css/backend/theme/components.css') }}{{ assets_css_plugins_scripts_version }}" rel="stylesheet">
    <link href="{{ asset('css/backend/theme/animations.css') }}{{ assets_css_plugins_scripts_version }}" rel="stylesheet">
    <link href="{{ asset('css/frontend/theme-default/offline.css') }}{{ assets_css_plugins_scripts_version }}" rel="stylesheet">


    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<!-- END HEAD -->
<!-- BEGIN BODY -->
<body class="">
    <div class="container">
        <!-- Begin Header -->
        <div class="row">
            <div class="col-md-12 coming-soon-header">
                <a class="brand" href="index.html">
                    <img src="{{ asset('images/shared/app-main-logo.png') }}" alt="Logo del Festival" width="250" height="80"/>
                </a>
            </div>
        </div>
        <!-- Begin offline page messages and countdown -->
        <div class="row">
            <div class="col-xs-12 col-md-offset-4 col-md-5 coming-soon-content">
                <h1>{{ offlineSiteSettings.message_title }}</h1>
                <p>
                    Nuestra fecha para estar de nuevo contigo es el
                    <span style="font-size: 18px;">{{ offlineSiteSettings.launch_date }}</span> y
                    solo faltan:
                </p>
                <div id="defaultCountdown">
                </div>
                <p>
                    {{ offlineSiteSettings.message_body }}
                </p>
                <ul class="social-icons margin-top-20" style="padding-left: 35%;">
                    {% if facebookLink is not empty %}
                    <li>
                        <a href="{{ facebookLink }}" data-original-title="Facebook" class="facebook">
                        </a>
                    </li>
                    {% endif %}
                    {% if twitterLink is not empty %}
                    <li>
                        <a href="{{ twitterLink }}" data-original-title="Twitter" class="twitter">
                        </a>
                    </li>
                    {% endif %}
                    {% if youTubeLink is not empty %}
                    <li>
                        <a href="{{ youTubeLink }}" data-original-title="Youtube" class="youtube">
                        </a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>

    </div>

<!-- Window Loader -->
{% include '@app_backend_template_directory/Shared/window_loader.html.twig' %}


<!-- Base js global mandatory scripts -->
<!--[if lt IE 9]>
<script src="{{ asset('js/backend/plugins/respond.min.js')}}{{ assets_js_base_scripts_version }}"></script>
<script src="{{ asset('js/backend/plugins/excanvas.min.js') }}{{ assets_js_base_scripts_version }}"></script>
<![endif]-->
<script src="{{ asset('js/shared/jquery/jquery.min.js')}}{{ assets_js_base_scripts_version }}"></script>
<script src="{{ asset('js/shared/jquery/jquery-migrate.min.js')}}{{ assets_js_base_scripts_version }}"></script>
<script src="{{ asset('js/shared/bootstrap/bootstrap.min.js')}}{{ assets_js_base_scripts_version }}"></script>
<script src="{{ asset('js/backend/plugins/jquery-slimscroll/jquery.slimscroll.min.js')}}{{ assets_js_base_scripts_version }}"></script>
<script src="{{ asset('js/backend/plugins/uniform/jquery.uniform.min.js')}}{{ assets_js_base_scripts_version }}"></script>
<script src="{{ asset('js/backend/plugins/backstrecht/jquery.backstretch.min.js')}}{{ assets_js_base_scripts_version }}"></script>

<!-- Custom js and Plugins js theme scripts -->
<script src="{{ asset('js/frontend/plugins/countdown/jquery.countdown.min.js') }}{{ assets_js_plugins_scripts_version }}"></script>
<script src="{{ asset('js/frontend/plugins/countdown/jquery.countdown-es.js') }}{{ assets_js_plugins_scripts_version }}"></script>

<!-- Symfony Fos Routing -->
<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
<script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>

<!-- Angular base scripts -->
<script src="{{ asset('js/shared/angularjs/angular.min.js') }}{{ assets_js_base_angular_scripts_version }}" type="text/javascript"></script>
<script src="{{ asset('js/shared/angularjs/angular-animate.min.js') }}{{ assets_js_base_angular_scripts_version }}" type="text/javascript"></script>
<script src="{{ asset('js/shared/angularjs/angular-touch.min.js') }}{{ assets_js_base_angular_scripts_version }}" type="text/javascript"></script>
<script src="{{ asset('js/shared/angularjs/ui-bootstrap.min.js') }}{{ assets_js_base_angular_scripts_version }}"></script>
<script src="{{ asset('js/shared/angularjs/sugar.min.js') }}{{ assets_js_base_angular_scripts_version }}"></script>

<!-- Angular App scripts -->
<script src="{{ asset('js/frontend/angularjsApp/OfflineApplication.js') }}{{ assets_js_app_angular_scripts_version }}" type="text/javascript"></script>
</body>
<!-- END BODY -->
</html>
