<table style="
    text-align: center;
    border: 1px solid #000000;
    font-size: 12px;
    max-width:100% !important;
    width: 100% !important;
    border-collapse: collapse;
    border-spacing: 0;">
  <thead style="
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;">
  <tr style=" display: table-row;
    vertical-align: inherit;
    border-color: inherit;">
    <th colspan="2" style=" border-left-width: 0;
    border-top-width: 0;border-bottom-width: 1px;border: 1px solid #000000;
    padding: 3px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #000000;">
      <h2 style="padding-top: 20px">Pago online / Online payment</h2>
    </th>
  </tr>
  </thead>
  <tbody>
  <tr >
    <td colspan="2" style="font-size:14px; font-weight: bold; text-align: left; border-left-width: 0;
    border-top-width: 0;border-bottom-width: 1px;border: 1px solid #000000;
    padding: 3px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #000000;">
      <span style="float: right; font-size: 20px">Código de transacción/ Transaction code: {{ params['transaction'] }}</span>
       Fecha de compra / Booking date: {{ params['date'] }}
      {#{{ 'now'|date('d-m-Y') }}<br>#}
      {#Comercial:  <br>#}
      {#VARIAS AGENCIAS PARADISO<br>#}
      {{ params['country'] }}
      {#Cuba#}
    </td>
  </tr>
  <tr>
    <td colspan="2" style="border-left-width: 0;
    border-top-width: 0;border-bottom-width: 1px;border: 1px solid #000000;
    padding: 3px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #000000;font-size:14px; font-weight: bold; text-align: left; border-right: none">
      Teatro / Theater: {{ params['theater'] }}<br>
      Lugar / Place: {{ params['area'] }}
    </td>
  </tr>

  
      {% for key,row in params['seats'] %}
	  <tr>
    <td colspan="2" style="border-left-width: 0;
    border-top-width: 0;border-bottom-width: 1px;border: 1px solid #000000;
    padding: 3px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #000000;font-size:14px; font-weight: bold; text-align: left; border-right: none">
        Fila / Row: {{ key }} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

        Asientos / Seats:
        {% for seat in row %}
          {{ seat }} {% if loop.index != row|length %}, {% endif %}
          {% endfor %}
		    </td>
  </tr>
      {% endfor %}
 
  <tr>
    <td colspan="2" style="border-left-width: 0;
    border-top-width: 0;border-bottom-width: 1px;border: 1px solid #000000;
    padding: 3px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #000000;font-size:14px; font-weight: bold; text-align: left; border-right: none">
      Función / Show:  {{ params['showName'] }} <br>
      Día / Date:   {{ params['showDateTime']|date('d-m-Y') }} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      Hora / Time:  {{ params['showDateTime']|date('h:i a') }}
    </td>
  </tr>
  <tr>
    <td  style="border-left-width: 0;
    border-top-width: 0;border-bottom-width: 1px;border: 1px solid #000000;
    padding: 3px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #000000;font-size:14px; text-align: left; border-right: none">
      Usted ha pagado {{ params['price'] }} USD por cada asiento. Conserve esta factura y pres&eacute;ntela en la
      taquilla del teatro como m&aacute;ximo una hora antes de que empiece la funci&oacute;n
      para que se le haga entrega de su Ticket. Si no cuenta con una impresora, copie en una hoja toda la informaci&oacute;n
      que aparece en el recibo de pago y no olvide el c&oacute;digo de la esquina superior derecha. Gracias.
      Recuerde que la programaci&oacute;n puede estar sujeta a cambios de &uacute;ltima hora.
    </td>
    <td style="border-left-width: 0;
    border-top-width: 0;border-bottom-width: 1px;border: 1px solid #000000;
    padding: 3px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #000000;font-size:14px; text-align: left; border-right: none">
      You have paid {{ params['price'] }} USD for each seat. Keep this invoice and prescribe it in the
      theater box office at the most one hour before the function begins.
      to receive your Ticket. If you do not have a printer, copy all the information on a sheet.
      that appears on the payment receipt and do not forget the code in the upper right corner. Thank you.
      Remember that programming may be subject to last-minute changes.
    </td>
  </tr>

  </tbody>
</table>
<div style="margin-top: 10px;display: flex">
<div style="width: 50%">
<h3>¡Aviso importante!:</h3>
  Este correo electr&oacute;nico ha sido enviado autom&aacute;ticamente.<br>
Por favor, no responda al mismo.
</div>
  <div style="width: 50%">
<h3>Important!:</h3>
This e-mail has been sent automatically. <br>
Please, do not respond to it.
  </div>
</div>
<div style="margin-top: 50px;font-size: 12px; font-weight: bold">
  26 Festival de Ballet de la Habana<br>
  Calzada #510, entre D y E, Vedado, Plaza de la Revolución. CP 10400<br>
  Tel: (+53)78353920.<br>
  <a href="http://balletcuba.cult.cu"> http://balletcuba.cult.cu</a><br>
</div>